  @import "bootstrap";
  @import "css/style";
  @import "css/animate";
  @import "css/colors";
  @import "css/custom";
  @import "css/flaticon";
  @import "css/responsive";
  @import "css/landing";
  @import "css/style";
  @import "font-awesome";

.body {
  background: image-url('../images/star_dots.png');
  width: 100%;
  background-position: center center;
  height: 100%;
}
